<!-- Fourth (Contact) section -->
<section class="section" id="contact">
  <div class="container">
  
    <h2 class="text-center title">Get in touch</h2>

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <p class="lead">Have a question about this template, or want to suggest a new feature?</p>
        <p>Feel free to email me, or drop me a line in Twitter!</p>
        <p><b>gt@gettemplate.com</b><br><br></p>
        <ul class="list-inline list-social">
          <li><a href="https://twitter.com/serggg" class="btn btn-link"><i class="fa fa-twitter fa-fw"></i> Twitter</a></li>
          <li><a href="https://github.com/pozhilov" class="btn btn-link"><i class="fa fa-github fa-fw"></i> Github</a></li>
          <li><a href="http://linkedin/in/pozhilov" class="btn btn-link"><i class="fa fa-linkedin fa-fw"></i> LinkedIn</a></li>
        </ul>
      </div>
    </div>

  </div>
</section>