<div id="portfolio" class="container" ng-controller="PortfolioCtrl">
    <div class="page-header">
        <ul class="pull-right nav nav-pills">
            <li class="subtitle ng-class: {'active': activeTab == 'projects'}" ng-click="activeTab = 'projects'">Projects</li>
            <li class="subtitle ng-class: {'active': activeTab == 'experiences'}" ng-click="activeTab = 'experiences'">Experiences</li>
        </ul>
    </div>
    <div class="page-content">
            <div id="projects" class="timeline tab-content" ng-show="activeTab == 'projects'"  ng-include src="'views/pages/portfolio/projects.html'"></div>
            <div id="experiences" class="timeline tab-content" ng-show="activeTab == 'experiences'"  ng-include src="'views/pages/portfolio/experiences.html'"></div>
    </div>