<div id="works" class="container" ng-controller="WorksCtrl">    
    <div class="page-header">
        <ul class="pull-right nav nav-pills">
            <li class="subtitle active">My Github</li>
        </ul>
    </div>
    <div class="page-content row-fluid">
     <div ac-chart="languagesChart.chartType" ac-data="languagesChart.data" ac-config="languagesChart.config" id='languagesChart' class='chart col-md-6' style="height:300px;"></div>
     <div ac-chart="repositoriesChart.chartType" ac-data="repositoriesChart.data" ac-config="repositoriesChart.config" id='repositoriesChart' class='chart col-md-6' style="height:300px;"></div>
    </div>
    </div>
</div>