<div class="row">
    <div class="timeline-centered">
        <article ng-repeat="project in projects | orderBy:'-id'" ng-class-odd="'left-aligned'" ng-class-even="''" class="timeline-entry">
            <div class="timeline-entry-inner" ng-class="{'highlight':project.highlight}">
                <div class="timeline-icon ng-class: {'bg-secondary': project.highlight, 'bg-info': !project.highlight}">
                    <i class="glyphicon ng-class: {'glyphicon-thumbs-up':project.highlight, 'glyphicon-book': !project.highlight}"></i>
                </div>
                <div class="timeline-label">
                    <h4 class="timeline-title">{{project.name}}</h4>
                    <p><a href="{{linkedinPublicProfileUrl}}" target="_blank"><small class="text-muted"><i class="glyphicon glyphicon-time"></i>  via Linkedin</small></a></p>
                    <h5>Description:</h5>
                    <p ng-bind-html="project.description|newlines"></p>                    
                    <div class="tags" ng-show="project.tags">
                        <h5>Skills:</h5>
                        <span ng-repeat="tag in project.tags | orderBy: 'order'">
                        <a target="_blank" href="{{tag.url}}" title="{{tag.title}}"><i class="{{tag.icon}}"></i></a>
                        </span>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
</div>