<div class="row">
    <div class="timeline-centered">
        <article ng-repeat="project in projects | orderBy:'-id'" ng-class-odd="'left-aligned'" ng-class-even="''" class="timeline-entry">
            <div class="timeline-entry-inner">
                <div class="timeline-icon ng-class: {'bg-secondary': $first, 'bg-info': !$first}">
                    <i class="glyphicon ng-class: {'glyphicon-star':$first, 'glyphicon-book': !$first}"></i>
                </div>
                <div class="timeline-label">
                    <h4 class="timeline-title">{{project.name}}</h4>
                    <p><a href="{{linkedinPublicProfileUrl}}" target="_blank"><small class="text-muted"><i class="glyphicon glyphicon-time"></i>  via Linkedin</small></a></p>
                    <p ng-bind-html="project.description|newlines"></p>
                </div>
            </div>
        </article>
    </div>
</div>
</div>